/* -------------------------------- css style -------------------------------- */
:root {
  --white: #fff;
  --white-opacity: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-opacity: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6em;

  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin-top: 14px;
}

a {
  text-decoration: none;

  color: inherit;
}

ul {
  padding-top: 14px;
  padding-bottom: 3px;
  padding-left: 40px;
}

img {
  display: block;
}

.button {
  max-width: 148px;
  width: 100%;
  height: 49px;
  padding: 12px 24px;

  font-family: OpenSans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;

  color: var(--white);
  background: var(--primary);
  border: none;
  outline: none;

  cursor: pointer;
}

.button:hover {
  background-color: #ea7600;
}

.title-primary {
  color: var(--primary);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

/* -------------------------------- card -------------------------------- */
.card {
  padding: 24px;

  background-color: var(--light);

  cursor: pointer;
}

.card:hover {
  color: var(--white);
  background-color: var(--primary);
}

.card-number {
  margin-bottom: 40px;

  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;

  color: var(--primary-dark);
}

.card:hover .card-number {
  color: var(--white);
}

.card-title {
  font-family: Neucha, sans-serif;
  font-weight: 400;

  color: var(--primary);
}

.card:hover .card-title {
  color: var(--white);
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  margin-top: 16px;
}

.m-10 {
  margin-right: 10px;
  margin-left: 10px;
}

/* -------------------------------- input -------------------------------- */
.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 15px 0 15px 15px;

  background-color: var(--white);
  border: none;
}

.footer-form > label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  color: var(--white);
}

.form-input > input {
  width: 100%;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;

  color: #757575;
  background: none;
  outline: none;
  border: none;
}

.form-input > input::placeholder {
  color: #757575;
  opacity: 0.2;
}

.button-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;

  background: var(--primary);
  border: none;
  outline: none;

  cursor: pointer;
}

.button-form:hover {
  background-color: #ea7600;
}

.button-form::before {
  position: absolute;
  top: 13px;
  left: 23px;

  width: 24px;
  height: 24px;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

/* -------------------------------- header -------------------------------- */
.header {
  position: relative;

  background-color: var(--light);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.1;
}

.header-container {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-columns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-column {
  width: 540px;
}

.header-button {
  margin-top: 40px;
}

/* -------------------------------- distortion -------------------------------- */
.distortion {
  height: 814px;

  text-align: center;
}

.distortion-text {
  margin-top: 32px;
  margin-bottom: 32px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* -------------------------------- navigation -------------------------------- */
.nav {
  background: var(--primary-dark);
}

.nav-container {
  padding-top: 200px;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-item {
  max-width: 350px;
  width: 100%;
}

.nav-title {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;

  color: var(--white);
}

/* -------------------------------- cognitive-distortions -------------------------------- */
.cognitive-distortions {
  position: relative;

  background-color: var(--light);
}

.cognitive-distortions::before {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.1;
}

.cognitive-distortions-container {
  position: relative;
}

.cognitive-distortions-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cognitive-distortions-item {
  width: 100%;
}

.cognitive-distortions-image {
  max-width: 578px;
  width: 100%;
}

.cognitive-distortions-image > img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.cognitive-distortions-subtitle {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: var(--dark-opacity);
}

.cognitive-distortions-title {
  margin-bottom: 30px;
}

.cognitive-distortions-text {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
}

.cognitive-distortions-title-small {
  padding: 5px 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: var(--white);
  background: var(--brown);
}

.cognitive-distortions-indent {
  margin: 100px 0 20px;
}

.cognitive-distortions-columns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cognitive-distortions-column {
  max-width: 540px;
  width: 100%;
}

/* -------------------------------- cognitive-distortions-invert -------------------------------- */
.cognitive-distortions-invert {
  position: relative;

  background-color: var(--brown);
}

.cognitive-distortions-invert::before {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.1;
}

.cognitive-distortions-invert-container {
  position: relative;
}

.cognitive-distortions-invert-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cognitive-distortions-invert-item {
  width: 100%;
}

.cognitive-distortions-invert-image {
  max-width: 578px;
  width: 100%;
}

.cognitive-distortions-invert-image > img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-distortions-invert-subtitle {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: var(--white-opacity);
}

.cognitive-distortions-invert-title {
  margin-bottom: 30px;

  color: var(--white);
}

.cognitive-distortions-invert-text {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;

  color: var(--white);
}

.cognitive-distortions-invert-title-small {
  padding: 5px 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: var(--brown);
  background: var(--white);
}

.cognitive-distortions-invert-indent {
  margin: 100px 0 20px;
}

.cognitive-distortions-invert-columns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cognitive-distortions-invert-column {
  max-width: 540px;
  width: 100%;

  color: var(--white);
}

/* -------------------------------- footer -------------------------------- */
.footer {
}

.footer-container {
  padding-bottom: 110px;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background: var(--primary-dark);
}

.footer-column {
  max-width: 485px;
  width: 100%;
}

.footer-title {
  margin: 55px 0;

  color: var(--white);
}

.footer-form {
}

.footer-input {
  margin-top: 9px;
}

.footer-button {
}

.footer-rule {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;

  color: var(--white);
}

.footer-rule a {
  text-decoration: underline;

  color: var(--white);
}

.footer-rule a:hover {
  text-decoration: none;
}

.footer-contact {
  margin-top: 76px;

  text-align: center;
}

.footer-text {
  margin-bottom: 16px;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.footer-text:first-child {
  line-height: 160%;
}

.footer-text:last-child {
  margin-bottom: 0;
}

.footer-text a {
  text-decoration: underline;

  color: var(--blue);
}

.footer-text a:hover {
  text-decoration: none;
}
