/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --white-opacity: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-opacity: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin-top: 13px;
}

.button {
  height: 49px;
  max-width: 148px;
  width: 100%;
  padding: 12px 24px;

  font-family: OpenSans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;

  background: var(--primary);
  color: var(--white);

  border: none;
  outline: none;
  cursor: pointer;
}

.title-primary {
  color: var(--primary);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

/* -------------------------------- Header -------------------------------- */

.header {
  position: relative;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--light);
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.9;
}

.header-container {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-columns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-column {
  width: 540px;
}

.header-button {
  margin-top: 40px;
}

/* -------------------------------- Distortion -------------------------------- */

.distortion {}

.distortion-container {
  text-align: center;
}

.distortion-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
